*{
    margin: 0px;
    padding: 0px;
}
body{
margin: 0;
padding: 0;
background-color: #89C15E ;
}
#container{
    display: flex;
   
}

.section{
    display: inline-block;
    width: 60vw;
    height: 100vh;
    

}
.section1{
    display: inline-block;
    width: 40vw;
    height: 90vh;
}
.cup{
    display: flex;
    align-items: end;
    justify-content: end;
    padding-top: 80px;
}
#heading{
    display: flex;
flex-direction: column;
justify-content: end;
align-items: end;
padding-top: 50px;
padding-right: 60px;
color: white;
    
}
.hd1{
    letter-spacing: 10px;
  font-size: 50px;
      
}
.hd{
   padding-right: 13px;
   font-size: 18px;
   word-spacing: 10px;
}
.play{
    display: flex;
    padding-top:40px ;
    padding-right: 100px;
}

.but{
    border: 2px solid white;
    color: gray;
    background-color: #89C15E;
    height: 30px;
    width: 120px;
    border-radius: 8px;
}

.section1{
    display: flex;
    flex-direction: column;
    justify-content: end;
    
}

#control{
    display: flex;
    height: 30px;
    width: 80px;
    align-items: center;
    justify-content: center;
    background-color: #89C15E;
    border: 2px solid white;
    color: white;
border-radius: 8px;

}
.last{
    display: flex;
    justify-content: right;
    padding-right: 40px;
    padding-top:10px
}
.tables{
    display: flex;
    justify-content: right;
    padding-right: 40px;  
    display: none;
}